<div class="service">
    <div class="title">Обслуживание</div>
    <div role="list" class="insights-collection-list w-dyn-items">
        <div role="listitem" class="insights-collection-list-item w-dyn-item">
            <div class="insights-wrapper">
                <div class="insights-image_wrapper">
                    <img height="100" loading="lazy" width="100" src="./assets/images/app_support.jpg" class="insights_image">
                </div>
                    <div class="insights_preview-wrapper">
                        <h2 class="_22px-text _120">Поддержка</h2>
                        <p class="insights-preview-text">Мы хотели бы предложить вам дальнейшее обслуживание вашего цифрового продукта, чтобы гарантировать его
                            бесперебойную работу, безопасность и актуальность в быстро меняющемся цифровом мире. Наша команда специалистов
                            готова предоставить вам полный спектр услуг, включая техническую поддержку, обновления, мониторинг
                            производительности и аналитику использования.</p>
                    </div>
                </div>
            </div>
        <div role="listitem" class="insights-collection-list-item w-dyn-item">
                <div class="insights-wrapper">
                    <div class="insights-image_wrapper">
                        <img height="100" loading="lazy" width="100" src="./assets/images/complex-it.jpg" class="insights_image">
                    </div>
                    <div class="insights_preview-wrapper">
                        <h2 class="_22px-text _120">Гибкий подход</h2>
                        <p class="insights-preview-text">Мы предлагаем гибкие планы обслуживания, адаптированные к вашим специфическим потребностям, чтобы обеспечить
                            эффективную работу вашего продукта и снизить риск возможных проблем. Наша команда готова быть на связи, чтобы
                            оперативно реагировать на ваши запросы и обеспечить бесперебойную работу вашего цифрового продукта.</p>
                    </div>
                </div>
            </div>
        <div role="listitem" class="insights-collection-list-item w-dyn-item">
                <div class="insights-wrapper">
                    <div class="insights-image_wrapper">
                        <img height="100" loading="lazy" width="100" src="./assets/images/modern-it.jpg" class="insights_image">
                    </div>
                    <div class="insights_preview-wrapper">
                        <h2 class="_22px-text _120">Актуальность</h2>
                        <p class="insights-preview-text">Мы ценим наше партнерство и хотим обеспечить, чтобы ваш цифровой продукт оставался конкурентоспособным и
                            соответствовал вашим ожиданиям на долгие годы вперед.</p>
                    </div>
                </div>
            </div>
        <div role="listitem" class="insights-collection-list-item w-dyn-item">
                <div class="insights-wrapper">
                    <div class="insights-image_wrapper">
                        <img height="100" loading="lazy" width="100" src="./assets/images/app_development.jpg" class="insights_image">
                    </div>
                    <div class="insights_preview-wrapper">
                        <h2 class="_22px-text _120">Свяжитесь с нами</h2>
                        <p class="insights-preview-text">Пожалуйста, не стесняйтесь обратиться к нам, если вам требуется дальнейшее обслуживание или поддержка вашего
                            продукта. Мы готовы быть вашим надежным партнером в цифровом мире.</p>
                    </div>
                </div>
            </div>
        
    </div>
</div>

