<div class="why_us">
  <div class="title">Почему мы?</div>

  <ul>
    <li>
      <div class="icon">
        <img src="./assets/icons/hand-world.svg"/>
      </div>
      <div class="description">Мы гарантируем персонализированный подход к каждому клиенту в нашей работе.</div>
    </li>
    <li>
      <div class="icon">
        <img src="./assets/icons/handshake.svg"/>
      </div>
      <div class="description">Мы работаем по договору. Можете быть уверены, что вас не обманут</div>
    </li>
    <li>
      <div class="icon">
        <img src="./assets/icons/time.svg"/>
      </div>
      <div class="description">Быстрая и качественная разработка.</div>
    </li>
    <li>
      <div class="icon">
        <img src="./assets/icons/platforms.svg"/>
      </div>
      <div class="description">Если вам нужно решение под несколько систем, вам не надо обращаться в несколько компаний. Мы создаем приложения под смартфоны, ПК, также web-приложения, сайты и телеграмм боты.</div>
    </li>
    <li>
      <div class="icon">
        <img src="./assets/icons/promotions.svg"/>
      </div>
      <div class="description">Если вашему продукту нужно продвижение, мы сделаем</div>
    </li>
  </ul>
</div>
