<div class="what-we-do">
	<div class="title">Что мы создаем?</div>

	<div class="layout-grid values-grid">
		<div class="grid-card-wrapper">
			<img src="./assets/icons/development.svg" class="industry-icon">
			<div class="_20px-text grid_card">Что мы создаем?</div>
			<div class="_18px-text">Наша IT компания специализируется на разработке широкого спектра цифровых продуктов, чтобы удовлетворить
				потребности современных бизнесов и частных лиц. Мы создаем уникальные и функциональные веб-сайты, мобильные
				приложения, телеграмм-боты и приложения для ПК, которые помогают нашим клиентам эффективно взаимодействовать с
				их аудиторией и достигать поставленных целей.
			</div>
		</div>
		<div class="grid-card-wrapper">
			<img src="./assets/icons/mobile-app.svg" class="industry-icon">
			<div class="_20px-text grid_card">Мобильные приложения</div>
			<div class="_18px-text">Мы выбираем наиболее успешный метод разработки мобильных приложений, который может удовлетворить все ваши
				пожелания, а также сократить время разработки и затраты на производство приложений. Учитывая потребности вашего
				бизнеса, наши консультанты по мобильным приложениям определять, как и на какой платформе будет работать ваше
				программное решение.Опираясь на свой мощный потенциал в качестве надежного поставщика услуг по консультированию
				и разработке мобильных приложений.</div>
		</div>
		<div class="grid-card-wrapper">
			<img src="./assets/icons/web-app.svg" class="industry-icon">
			<div class="_20px-text grid_card">Веб разработка</div>
			<div class="_18px-text">Мы используем новейшие технологии для создания многофункциональных, удобных и адаптированных веб-приложений,
				которые идеально соответствуют потребностям вашего бизнеса. Мы создаем веб-приложения B2B, а также B2C,
				охватывая полный цикл разработки веб-приложений и порталов, включая фронтенд-разработку, серверную разработку, а
				также услуги по обеспечению качества.</div>
		</div>
		<div class="grid-card-wrapper">
			<img src="./assets/icons/telegram-colored.svg" class="industry-icon">
			<div class="_20px-text grid_card">Телеграмм боты</div>
			<div class="_18px-text">С ростом популярности мессенджера “Телеграмм” появилась ниша телеграмм ботов. Они быстрые в создании и
				достаточно бюджетны. Также телеграмм бота можно запустить, как удобный помощник для уже действующего цифрового
				продукта. Например кейс одних из наших клиентов, которые занимаются продажей зерна. Мы разработали для них
				компьютерной приложение для создания заказов, а в телеграмме идет отображение этих заказов для водителей. Более
				подробно вы можете посмотреть этот проект по ссылке
			</div>
		</div>
		<div class="grid-card-wrapper">
			<img src="./assets/icons/pc-notebook.svg" class="industry-icon">
			<div class="_20px-text grid_card">Разработка приложений для ПК</div>
			<div class="_18px-text">Наша компания специализируется на разработке высококачественных программных решений для ПК, которые соответствуют индивидуальным потребностям наших клиентов. Наш опыт и профессионализм позволяют нам предоставить вам полный спектр услуг, начиная от анализа ваших потребностей и разработки индивидуальной стратегии до создания пользовательского интерфейса, программирования, тестирования, развертывания и последующей поддержки.</div>
		</div>
	</div>
</div>
