<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="modile_menu none" id="modile_menu">
          <a href="/" class="logo">
            <img src = "./assets/logo.svg"/>
          </a>
          <app-navigation></app-navigation>
          <!-- <div class="contacts">
            <span>{{ 'inno_pro@inbox.ru' }}</span>
            <div class="links">
              <a
                href="https://github.com/proffiser"
                class="github"
                target="_blank"
              >
                <img src = "./assets/icons/github.svg"/>
              </a>
              <a href="https://t.me/inno_pro" class="telegram" target="_blank">
                <img src = "./assets/icons/telegram.svg"/>
              </a>
            </div>
          </div> -->
        </div>
        <div class="burger-menu" id="burger_menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <header class="header">
          <a href="#" class="logo">
            <img src = "./assets/logo.svg"/>
          </a>
          <app-navigation></app-navigation>
          <div class="contacts">
            <span></span>
            <span>{{ 'inno_pro@inbox.ru' }}</span>
            <div class="links">
              <a
                href="https://api.whatsapp.com/send?phone=79650622600"
                class="wa"
                target="_blank"
              >
                <img src="./assets/icons/whatsapp.svg"/>
              </a>
              <a href="https://t.me/inno_pro" class="telegram" target="_blank">
                <img src="./assets/icons/telegram.svg"/>
              </a>
            </div>
          </div>
        </header>

        <section class="page">
          <router-outlet />
        </section>

        <footer>
          <app-navigation class='navigation-bottom'></app-navigation>
          <div class="links">
            <a
              href="https://api.whatsapp.com/send?phone=79650622600"
              class="wa"
              target="_blank"
            >
            <img src = "./assets/icons/whatsapp.svg"/>
            </a>
            <a href="https://t.me/inno_pro" target="_blank" class="telegram">
              <img src = "./assets/icons/telegram.svg"/>
            </a>
          </div>
          <div class="footer">
            © 2021-2024 ИП Беленицкий И.С. <br />
            {{ 'inno_pro@inbox.ru' }}
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>

