<div class="reviews">
    <div class="title">Отзывы</div>
    <div class="review">
        <div class="image">
            <img src="./assets/images/reviewer1.jpg"/>
        </div>
        <div>
            <p>
                <b>Андрей</b>
            </p>
            <p class="order">
                Заказал небольшое приложение для маникюра
            </p>
            <p>
                <i>
                    "Ребята профессионально подошли к разработке. У меня был небольшой бюджет, команда проанализировала другие похожие продукты, собрали нужный функционал, после этого предоставили мне техническое задание.  Единственное на неделю не уложились в сроки, но это ничего страшного, продукт хороший получил зато. Спасибо. Рекомендую."
                </i>
            </p>
        </div>
    </div>
    <div class="review">
        <div class="image">
            <img src="./assets/images/reviewer2.jpg"/>
        </div>
        <div>
            <p>
                <b>Илья</b>
            </p>
            <p class="order">
                Заказал разработку сайта
            </p>
            <p>
                <i>"Быстро среагировали, отправили мне предложение. После сдачи быстро нашли баги, в течение двух дней все устранили. Ребята, спасибо!"</i>
            </p>
        </div>
    </div>
</div>
