html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Jost, sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .22)
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .5)
}

a {
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    color: #fff
}

.none {
    display: none !important
}

.container {
    min-height: 100%;
    background-color: #02042f
}

.content {
    width: 100%;
    min-height: 100%;
    max-width: 1100px;
    /* padding: 52px 70px; */
    padding: 52px 0;
    margin: 0 auto;
}

.send_form {
    width: 70%;
    max-width: 860px;
    height: 526px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    background: #1b1b23;
    box-shadow: 0 4px 4px #00000040;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.send_form .send_form_inputs {
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center span;
    justify-content-color: #fff;
    justify-content-font-size: 20px;
    justify-content-font-weight: 400
}

.send_form .send_form_inputs .input_text {
    width: 70%;
    background: inherit;
    outline: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    padding: 20px 10px;
    margin-top: 20px
}

.send_form .send_form_inputs .input_text::placeholder {
    color: #ffffff30;
    font-size: 20px;
    font-weight: 400;
}

.send_form .send_form_inputs .input_submit {
    margin-top: 40px;
    width: 40%;
    height: 36px;
    background: #fff;
    cursor: pointer;
}

.send_form .opa {
    width: 35%;
    height: 100%;
    position: relative;
}

.send_form .opa .exit svg {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.send_form .opa .form_logo {
    position: absolute;
    bottom: 80px;
    right: 60px;
}

.header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bottom {
    .navigation {
        margin-bottom: 20px !important;
    }
}

.links {
    width: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.modile_svg {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.text_slider {
    width: 456px;
}

.text_wrapper {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
    height: 260px;
    overflow-y: scroll;
}

.slide .elements {
    height: 468px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.slide .elements span {
    height: 52px;
}

.slide::-webkit-scrollbar {
    display: none;
}

section {
    width: 100%;
    height: 100%;
}

.slide span {
    opacity: .1;
    transition: opacity .3s
}

.slide span.active {
    opacity: 1
}

.arrow-link {
    cursor: pointer
}

.about_us {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center
}

.about_us .title {
    margin-bottom: 40px;
    z-index: 1
}

.about_us_svg {
    width: 65%;
    height: 80%;
    position: absolute;
    top: 150px;
    left: 42%;
    transform: translate(-50%);
    z-index: 0
}

.welcome_img {
    width: 65%;
    z-index: 1
}

.title {
    font-size: 36px;
    font-weight: 500
}

.welcome_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1
}

.welcome {
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between
}

.welcome .team {
    font-size: 34px;
    font-weight: 600
}

.btns .telegram_btn,
.whatsapp_btn {
    width: 72px;
    height: 72px
}

.btns .telegram_btn a,
.whatsapp_btn a {
    display: flex;
    align-items: center;
    justify-content: center
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .3);
    background: #100a3d;
    box-shadow: 0 10px 5px #0000001a;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer
}

.technologies {
    position: relative
}

.technologies svg {
    width: 100%;
    height: 100%
}

.technologies .title {
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translate(50%)
}

.technologies .parag {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}

.technologies .parag p {
    width: 330px;
    font-size: 20px;
    font-weight: 400
}

.technologies .parag .p1 {
    text-align: right
}

.projects {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around
}

.projects .title {
    position: absolute;
    top: -70px;
    right: 50%;
    transform: translate(50%)
}

.projects .big_slide_container {
    width: 100%;
    height: 783px;
    overflow-x: scroll;
    overflow-y: hidden
}

.projects .big_slide_container::-webkit-scrollbar {
    display: none
}

.projects .big_slide_container .slide_backgroud {
    width: max-content;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.projects .big_slide_container .slide_backgroud .big_slider_element {
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.projects .big_slide_container .slide_backgroud .big_slider_element .small_slider {
    height: 100%;
    background: #fff;
    margin-right: 60px;
    overflow-y: hidden;
    overflow-x: hidden
}

.projects .big_slide_container .slide_backgroud .big_slider_element .small_slider::-webkit-scrollbar {
    width: 0px
}

.projects .big_slide_container .slide_backgroud .big_slider_element .small_slider .small_slider_backgroud {
    height: 100%;
    flex-flow: column nowrap;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.projects .big_slide_container .slide_backgroud .big_slider_element .small_slider .small_slider_backgroud .small_slider_element {
    margin-bottom: 20px;
    max-height: 100%;
    justify-content: center;
    display: flex;
}

.projects .big_slide_container .slide_backgroud .big_slider_element .small_slider .small_slider_backgroud .small_slider_element img {
    object-fit: contain;
    max-height: 740px;
    width: 100%;
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info {
    width: 350px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info_1 {
    color: #05073d;
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    text-align: center
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info_2 {
    color: #05073d;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    width: 310px;
    flex-direction: column
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info_3 {
    color: #05073d;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    text-align: left
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info_4 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    text-align: center
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info_5 {
    width: 307px;
    height: 72px
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info .stack_svg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.projects .big_slide_container .slide_backgroud .big_slider_element .element_info .stack_svg svg {
    margin-left: 30px
}

.projects .slider_nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px
}

.projects .slider_nav .slide_btn_disable {
    opacity: .3
}

.projects .slider_nav div:hover {
    opacity: 1;
    cursor: pointer
}

.projects .slider_nav .slide_btn_active {
    opacity: 1;
    text-decoration: underline
}

footer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between
}

.burger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 12
}

.burger-menu .line {
    width: 35px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 10px
}

.burger-menu .line:last-child {
    margin-bottom: 0
}

.pos_fix {
    position: fixed
}

#cursor {
    position: fixed;
    top: -16px;
    left: -16px;
    z-index: 1;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #e0e1dd;
    opacity: 0
}

#cursor.-activated {
    animation: fadeIn 1s ease-out forwards
}

.tags-cloud {
    position: fixed;
    top: calc(50% - 30vmin);
    left: calc(50% - 30vmin);
    height: 60vmin;
    width: 60vmin;
    list-style: none;
    opacity: 0
}

.tags-cloud.-loaded {
    animation: fadeIn 1s ease-out forwards
}

.tags-cloud>.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5vmin;
    font-weight: 700;
    transition: transform .5s linear, opacity .5s linear
}

.tags-cloud>.tag>.wrap {
    display: inline-block;
    transform: translate(-50%) translateY(-50%)
}

.footer {
    width: 100%;
    margin-top: 40px;
    text-align: center
}



@media (max-width: 1170px) and (min-width: 840px) {
    .welcome {
        align-items: center
    }

    .welcome .team {
        font-size: 20px
    }

    .welcome .pp {
        text-align: center;
        font-size: 16px
    }

    .welcome .btns {
        width: 100%;
        padding-left: 5px;
        justify-content: space-between
    }

    .welcome .btns .btn {
        font-size: 16px !important;
        height: 40px
    }

    .welcome .btns .telegram_btn,
    .welcome .btns .whatsapp_btn {
        width: 40px;
        height: 40px
    }
}

@media (max-width: 1580px) and (min-width: 840px) {
    .big_slider_element {
        width: calc(100vw - 140px) !important
    }
}

@media (max-width: 840px) {
    .container {
        padding: 20px;
    }

    .burger-menu {
        display: inline-block
    }

    .modile_svg {
        display: block
    }

    .modile_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #05073d;
        z-index: 11;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        overflow: hidden
    }

    .modile_menu .navigation {
        display: block;
        width: 100%;
        height: 100%
    }

    .modile_menu .navigation .nav_elements {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center
    }

    .modile_menu .navigation .nav_elements a {
        margin-top: 10px
    }

    .modile_menu .contacts {
        display: flex;
        align-items: center
    }

    .navigation,
    .contacts,
    .intro_section .comp_svg {
        display: none
    }

    .text_wrapper {
        font-size: 20px;
        font-weight: 700
    }

    .text_slider {
        width: 252px
    }

    .slide {
        height: 238px
    }

    .arrow {
        margin-top: 420px
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1
    }

    .about_us {
        flex-flow: column nowrap
    }

    .about_us .about_us_svg {
        width: 100%;
        top: -30px;
        left: 50%
    }

    .about_us .title {
        margin-bottom: 30px
    }

    .about_us .welcome {
        width: 100%
    }

    .about_us .welcome .team {
        font-size: 20px
    }

    .about_us .welcome .btns {
        display: none;
        margin-top: 10px
    }

    .welcome_wrapper {
        flex-flow: column
    }

    .welcome_wrapper .line {
        margin-top: 10px
    }

    .welcome_img {
        width: 100%
    }

    .technologies {
        flex-flow: column nowrap
    }

    .technologies .title {
        top: auto
    }

    .technologies .comp_svg {
        display: none
    }

    .technologies .parag {
        height: 100%;
        flex-flow: column nowrap;
        justify-content: space-around;
        text-align: center
    }

    .technologies .parag .p1 {
        text-align: center
    }

    .projects .big_slide_container {
        height: max-content;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center
    }

    .projects .big_slide_container .slide_backgroud {
        width: calc(100vw - 40px)
    }

    .projects .big_slide_container .slide_backgroud .big_slider_element {
        width: calc(100vw - 40px);
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center
    }

    .projects .big_slide_container .slide_backgroud .big_slider_element .small_slider {
        width: 100%;
        margin-right: 0
    }

    .projects .big_slide_container .slide_backgroud .big_slider_element .small_slider .small_slider_backgroud .small_slider_element img {
        width: 100%;
        height: 200px
    }

    .projects .big_slide_container .slide_backgroud .big_slider_element .element_info {
        width: calc(100vw - 40px);
        height: calc(100% - 200px)
    }

    .projects .big_slide_container .slide_backgroud .big_slider_element .element_info .element_info_5 {
        width: 100%;
        display: none
    }

    .projects .big_slide_container .slide_backgroud .big_slider_element .element_info .element_info_2 {
        width: 100%;
        font-size: 14px
    }

    .contacts_section .title {
        top: 0
    }

    .contacts_section .contacts_container {
        width: 100%
    }

    .contacts_section .contacts_container .loc {
        left: 0 !important;
        display: none
    }

    .send_form {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center
    }

    .send_form .send_form_inputs {
        width: 100%;
        margin-top: 50px
    }

    .send_form .send_form_inputs span {
        width: 70%;
        font-size: 16px;
        font-weight: 400
    }

    .send_form .send_form_inputs .input_text {
        margin-top: 10px
    }

    .send_form .opa {
        position: initial
    }

    .send_form .opa .logo {
        top: 420px;
        left: 100px
    }
}